body{
    background-color: azure;
}

img{
    transform: rotate(90deg);
    position: absolute;
    top: 7%;
    left: 75%;
}

#contenido{
    margin-left: 3%;
    font-family: "Comic Sans MS";
}

h3{
    font-family: "MS Serif";
}

li:hover{
    color: blue;
    cursor: pointer;
}